<#include "header.html">
<link rel="stylesheet" href="/styles/letter.css">
<link rel="stylesheet" href="/styles/detail.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <#if (conversations?size==0)>
                <div class="feed-item folding feed-item-hook feed-item-2
                        " feed-item-a="" data-type="a" id="feed-3" data-za-module="FeedItem" data-za-index="">
                    <meta itemprop="ZReactor" data-id="389034" data-meta="{&quot;source_type&quot;: &quot;promotion_answer&quot;, &quot;voteups&quot;: 4168, &quot;comments&quot;: 69, &quot;source&quot;: []}">
                    <div  class="placeholder-text" >
                        你还没有收到任何私信
                    </div>
                </div>
                <#else>
                <#list conversations as conversation>
                <li id="conversation-item-10001_622873">
                <a class="letter-link" href="/msg/detail?conversationId=${conversation.conversation.conversationId}">
                </a>
                <div class="letter-info">
                <span class="l-time">
                ${conversation.conversation.createdDate?string('yyyy年MM月dd日 HH：mm：ss')}</span>
                <div class="l-operate-bar">
                    <!--
                <a href="javascript:void(0);" class="sns-action-del" data-id="10001_622873">
                删除
                </a>
                -->
                <a href="/msg/detail?conversationId=${conversation.conversation.conversationId}">
                ${conversation.conversation.id}条私信
                </a>
                </div>
                </div>
                <div class="chat-headbox">
                <#if (conversation.unread!=0)>
                <span class="msg-num">
                ${conversation.unread}
                </span></#if>
                <a class="list-head">
                <img alt="头像" src="/images/res/da8e974dc_m.jpg">
                </a>
                </div>
                <div class="letter-detail">
                <a title="通知" class="letter-name level-color-1">
                    ${conversation.user.name}
                </a>
                <p class="letter-brief">
                <a href="/msg/detail?conversationId=${conversation.conversation.conversationId}">
                ${conversation.conversation.content}
                </a>
                </p>
                </div>
                </li>
                </#list></#if>
            </ul>

        </div>
    </div>
<#include "js.html">
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>

<#include "footer.html">