<#include "header.html">
<link href="/originality/css/style.css" tppabs="/originality/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/detail.css">
<script type="text/javascript" src="/originality/js/jquery1.7.js" ></script>
<script type="text/javascript" src="/originality/js/para.js" ></script>
<script type="text/javascript" src="/originality/js/main.js" ></script>
<!--[if IE 8]>
<link href="/originality/css/ie8.css" rel="stylesheet">
<script src="/originality/js/background-size.js"></script>
<script src="/originality/apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="/originality/cdn.bootcss.com/selectivizr/1.0.2/selectivizr-min.js"></script>
<script src="/originality/apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
	<!-- 模版列表 -->
	<article class="templates_list">
		<div class="box">
			<a href="http://matcloud.cnic.cn/" ></a>
			<div>
				<img src="/originality/assets/images/matcloud.png">
				<span><em>DB</em>matcloud高通量材料集成计算和数据管理平台</span>
			</div>
		</div>

		<div class="box">
			<a href="http://www.aflowlib.org/" ></a>
			<div>
				<img src="/originality/assets/images/aflow.png">
				<span><em>DB</em>AFLOWLIB数据库</span>
			</div>
		</div>

		<div class="box">
			<a href="https://www.materialsproject.org/" ></a>
			<div>
				<img src="/originality/assets/images/materialsproject.png">
				<span><em>DB</em>MaterialsProject数据库</span>
			</div>
		</div>

		<div class="box">
			<a href="http://www.oqmd.org/" ></a>
			<div>
				<img src="/originality/assets/images/oqmd.png">
				<span><em>DB</em>OQMD开放式量子材料数据库</span>
			</div>
		</div>

		<div class="box">
			<a href="https://github.com/yoshida-lab/XenonPy" ></a>
			<div>
				<img src="/originality/assets/images/XenonPY.png">
				<span><em>py+DB</em>XenonPy，一套全面的机器学习工具的Python库</span>
			</div>
		</div>

		<div class="box">
			<a href="http://www.aiida.net/" ></a>
			<div>
				<img src="/originality/assets/images/aiida.png">
				<span><em>DB</em>aiida计算科学的自动交互基础设施和数据库</span>
			</div>
		</div>

		<div class="box">
			<a href="https://nomad-coe.eu/" ></a>
			<div>
				<img src="/originality/assets/images/nomad.png">
				<span><em>DB</em>NOMAD存储库来托管、组织和共享材料数据。</span>
			</div>
		</div>

		<div class="box">
			<a href="https://materials.nrel.gov/" ></a>
			<div>
				<img src="/originality/assets/images/nrel.png">
				<span><em>DB</em>NRELMatDB是一个计算材料数据库，特别关注可再生能源应用材料</span>
			</div>
		</div>

		<div class="box">
		<a href="https://www.ctcms.nist.gov/~knc6/JVASP.html" ></a>
		<div>
			<img src="/originality/assets/images/nist.png">
			<span><em>DB</em>NIST的DFT数据库</span>
		</div>
		</div>





		<h2 style="text-align: center; color: #ccc; margin-top: 30px;display: none">暂无数据</h2>

	</article>



	<footer>
	<div class="qr">
  </div>
</footer>

<#include "js.html">

<#include "footer.html">